<div>
	<table class="fill">
		<tr>
			<td class="fill">
				 <DIV unselectable="on"><B unselectable="on">Not sure what to put in the box? </B> 
                        	You can use <a target=new href="http://youtube.com">youtube.com</a> to upload your video(s) and put the embed code here.</DIV>
                        	<br></br>
				    <TEXTAREA dojoAttachPoint="__txtEmbed" style="WIDTH: 100%; HEIGHT: 200px"></TEXTAREA> 
				    <BR /></DIV>
			</td>
		</tr>
		<tr>
			<td align="center">
				<button dojoAttachPoint="ok" dojoAttachEvent="onClick: _okClick" dojoType=dijit.form.Button>Ok</button>
				<button dojoAttachPoint="cancel" dojoType=dijit.form.Button dojoAttachEvent="onClick: _cancelClick" >Cancel</button>
			</td>
		</tr>
	</table>
</div>
