<div>
	<h2>FAQ</h2>
	<h4>How do I create a new page?</h4>
	<div>Click on <img src="http://pagefin.appspot.com/static/images/page_white.png"/> on the main toolbar.</div>
	<h4>How do I save a page?</h4>
	<div>Click on <img src="http://pagefin.appspot.com/static/images/btn-save.png"/> on the main toolbar, Note, your page will be automatically saved every time you make a change to it.</div>
	<h4>How do I preview a page?</h4>
	<div>Click on <img src="http://pagefin.appspot.com/static/images/preview_icon.gif"/> on the main toolbar. Note, you must save your page first.</div>
	<h4>How do I tell friends and family about my page?</h4>
	<div>Click on <img src="http://pagefin.appspot.com/static/images/world_add.png"/> on the main toolbar. Your new page will appear as a status update.</div>
	<h4>How do I resize a widget?</h4>
	<div>
		Click on <img src="http://pagefin.com/static/dojo-src/dojox/layout/resources/icons/resize.gif"/>. Move it to resize the box as small or as large as you like.
	</div>
	<h4>How do I edit a widget?</h4>
	<div>Click on <img src="http://page.appspot.com/static/images/control/edit.gif"/> From here you can add text, change font and color, etc.</div>
	<h4>How do I move a widget on the page?</h4>
	<div>
		Click on <img src="http://page.appspot.com/static/images/control/move.gif"></img> and hold down to move.
	</div>
	<h4>How do I delete a widget?</h4>
	<div>Click on <img src="http://page.appspot.com/static/images/control/delete.gif"></img></div>
	
	<h4>How do I make a widget layer above another?</h4>
	<div>Click on  <img src="http://page.appspot.com/static/images/control/z-front.gif"></img> Even if is not near another widget this setting will be saved, so that when you move it it will appear above other widgets.</div>
	<h4>How do I make a widget layer below another?</h4>
	<div>Click on <img src="http://page.appspot.com/static/images/control/z-back.gif"/> Even if is not near another widget this setting will be saved, so that when you move it it will appear below other widgets.</div>
</div>