<div>
	<h2>Border</h2>
	<div>
		<select value="0" dojoType="dijit.form.Select" dojoAttachPoint="borderWeight">
				<option value="0">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
		</select> px 
		<select value="none" dojoType="dijit.form.Select" dojoAttachPoint="borderStyle">
				<option value="dotted">dotted</option>
				<option value="dashed">dashed</option>
				<option value="solid">solid</option>
				<option value="double">double</option>
				<option value="groove">groove</option>
				<option value="ridge">ridge</option>
				<option value="inset">inset</option>
				<option value="outset">outset</option>
		</select>
		<div dojoType="dijit.form.Select" value="black" dojoAttachPoint="borderColor">
			<span value="white"><span style="background-color:white; width:100%;">white</span></span>
			<span value="lime"><span style="background-color:lime; width:100%;">lime</span></span>
			<span value="green"><span style="background-color:green; width:100%;">green</span></span>
			<span value="blue"><span style="background-color:blue; width:100%;">blue</span></span>
			<span value="silver"><span style="background-color:silver; width:100%;">silver</span></span>
			<span value="yellow"><span style="background-color:yellow; width:100%;">yellow</span></span>
			<span value="fuchsia"><span style="background-color:fuchsia; width:100%;">fuchsia</span></span>
			<span value="navy"><span style="background-color:navy; width:100%;">navy</span></span>
			<span value="gray"><span style="background-color:gray; width:100%;">gray</span></span>
			<span value="red"><span style="background-color:red; width:100%;">red</span></span>
			<span value="purple"><span style="background-color:purple; width:100%;">purple</span></span>
			<span value="black"><span style="background-color:black; width:100%;">black</span></span>
		</div>
	</div>
	<br></br>
	<div>
		<div style="width:150px; height:100px; border:1px solid red; text-align:center;" dojoAttachPoint="borderExample">
			Your Widget
		</div>
	</div>
</div>