<div class="media-toolbox">
	<label for="page_name"><i>Page Name</i></label>
	<div>
	 	<input style="width:450px;" onclick="this.select()" dojoAttachPoint="page_name" type="text" id="page_name" name="page_name" readonly></input>
	</div>
	<br/>
	<label for="page_edit"><i>Page Edit Link</i></label>
	<div>
	 	<input style="width:450px;" onclick="this.select()" dojoAttachPoint="page_edit" type="text" id="page_edit" name="page_edit" readonly></input>
	</div>
	<br/>
	<label for="page_url"><i>URL</i></label>
	<div>
	 	<input style="width:450px;"onclick="this.select()" dojoAttachPoint="page_url" type="text" id="page_url" name="page_url" readonly></input>
	</div>
	<br/>
	<label for="page_shorten"><i>Shorten URL</i></label>
	<div>
	 	<input style="width:450px;"onclick="this.select()" dojoAttachPoint="page_shorten" type="text" id="page_shorten" name="page_shorten" readonly></input>
	</div>
	<br/>
	<label for="page_html"><i>HTML for Websites</i></label>
	<div>
	 	<input style="width:450px;"onclick="this.select()" dojoAttachPoint="page_html" type="text" id="page_html" name="page_html" readonly></input>
	</div>
	<br/>
	<label for="page_code"><i>Page Code for Forums & Message Boards</i></label>
	<div>
	 	<input style="width:450px;"onclick="this.select()" dojoAttachPoint="page_code" type="text" id="page_code" name="page_code" readonly></input>
	</div>
	<br/>
	<!-- 
	<label for="delete_page" title="Save this link so you can delete your page later."><i>Delete Page Link</i></label>
	<div>
	 	<input style="width:450px;"onclick="this.select()" dojoAttachPoint="delete_page" type="text" id="delete_page" name="delete_page" readonly></input>
	</div>
	<br/> 
	-->
</div>
	