<div>	
	<h2>
		Welcome to Page Creator
	</h2>
	<h4>How to create a page:</h4>
	<div>Click on "New Page". A blank page will open, ready to use.</div>
	<h4>How to add stuff (widgets) to your new page:</h4>
	<div>Click on "Add Stuff". A new box will open where you can add text, pictures, or video. You can add as many boxes per page as you like.</div>
	<h4>How to share your page:</h4>
	<div>To share your new page with friends and family, click on "Share". It will post as a status update.</div>
	<br></br>
	<br></br>
	<span style="float:right;">
		<button dojotype="dijit.form.Button" onclick="dijit.byId('inlineWelcomeDialog').hide()">Close</button>
	</span>
</div>